@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --alt-background: #0f151d;
  --alt-foreground: #171717;

  --white: #ffffff;
  --gray: #00000029;
  --alt-magenta: #c80b6a;
  --alt-magenta-light: #d51877;
  --alt-magenta-strong: #a21059;
  --orange: #fbad28;
  --alt-orange: #ffae7e;
  --alt-blue: #2a3a52;
  --atl-texts: #414042;
  --gradient-gold: linear-gradient(180deg, #efe597, #a89e51, #8d833b, #4d3d1c);
  --gradient-orange: linear-gradient(
    to right,
    #f670d6,
    #fb6ec9,
    #fe6ebd,
    #ff6fb1,
    #ff70a6,
    #ff749d,
    #ff7994,
    #ff7f8d,
    #ff8987,
    #ff9383,
    #ff9e80,
    #fea880
  );

  --font-poppins: "Poppins", sans-serif;
  --font-anto: "Anto", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e151f;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--alt-background);
  font-family: var(--font-poppins), sans-serif;
}

@layer components {
  .footer-link {
    @apply relative inline-block;
    --underline-origin: right;
  }
  .footer-link::after {
    content: "";
    @apply absolute left-0 bottom-0 h-[1px] w-full bg-current;
    transform: scaleX(0);
    transform-origin: var(--underline-origin);
    transition: transform 300ms ease-in-out;
  }
  .footer-link:hover {
    --underline-origin: left;
  }
  .footer-link:hover::after {
    transform: scaleX(1);
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: white !important;
}
.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  transform: scale(1.2);
  opacity: 0.8;
}

.swiper-button-next:active::after,
.swiper-button-prev:active::after {
  transform: scale(0.9);
}

.swiper-pagination {
  position: static !important;
  margin-top: 1rem !important;
  text-align: center !important;
}

.swiper-pagination-bullet-active {
  background: var(--alt-blue) !important;
}
